html, body{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    height: 100vh;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: #635c5d;

}

.header{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    background-color: #e04f51;
    box-shadow: 0rem 0.3rem 0.8rem 0rem rgba(0, 0, 0, 0.75);
    font-family: 'Courier New', Courier, monospace;
}

.content{
    display:flex;
    justify-content: space-around;
}

.command{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2.5rem;
    align-items: center;
}

.clr_selection{
    -webkit-appearnce: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    width: 10rem;
    height: 10rem;
    border: none;
    appearance: none;
    transition: all 0.2s;
}

.clr_selection:hover{
    transform: scale(1.1);
}

.clr_selection::-webkit-color-swatch{
    border-radius: 5rem;
    border: none;
    box-shadow: 0rem 0.5rem 0.3rem 0rem rgba(0, 0, 0, 0.75);
    cursor: pointer;
}


.buttons{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.buttons label{
    margin: 0rem;
}

.hide_bx{
    display: none;
}

.buttons label{
    font-family: 'Courier New', Courier, monospace;
    background-color: #302f2f;
    color: whitesmoke !important; 
    width: 17rem;
    text-align: center;
    padding: 1rem 4rem;
    border-radius: 1.8rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
    transition: all 0.2s;
}
.buttons label:hover{
    transform: scale(1.1);
}

.clear{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    background-color: #e04f51;
    color: whitesmoke !important; 
    width: 17rem;
    text-align: center;
    padding: 1rem 4rem;
    border-radius: 1.8rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
    border: none;
    transition: all 0.2s;
}

.clear:hover{
    transform: scale(1.1);
}

.choice{
    font-size: 3rem;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
}

#bx_inpt{
    -webkit-appearance: none;
    appearance: none;
    width: 20rem;
    height: 1.3rem;
    background: linear-gradient(90deg, rgb(0, 0, 0) 15.87%, rgb(214, 214, 214) 15.87%);
    opacity: 0.7;
    outline: none;
    -webkit-transition: opactiy 0.2s;
    transition: opactiy 0.2s;
    border-radius: 1.2rem;
    box-shadow: 0rem 0.1rem 1rem 0rem black;
}

#bx_inpt:hover{
    opacity: 1;
}

#bx_inpt::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 3rem;
    height: 3rem;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}




.container {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 1.2rem;
    box-shadow: 0.7rem 0.7rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
}

.footer{
    text-align: center;
    font-size: 2.5rem;
    background-color: #302f2f;
    padding: 1rem 4rem;
    box-shadow: 0rem -0.3rem 1rem 0rem rgba(0, 0, 0, 0.75);
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: None;
    font-weight: bold;
}

a, .footer{
    color: white;
}
